IMPACT_ACCOUNT_SID=
IMPACT_AUTH_TOKEN=
ENVATO_TOKEN=

IMPACT_PROGRAM_ID=
IMPACT_MEDIA_PROPERTY_ID=
ENVATO_ALLOWED_HOSTS=
ENVATO_TEST_ITEM_ID=

SITE_BASE_URL=http://localhost:8788
RESOURCES_PATH=/resources
ENVATO_ITEM_CACHE_TTL=1800
ENVATO_SEARCH_CACHE_TTL=900
IMPACT_LINK_CACHE_TTL=21600
AFFILIATE_FAIL_OPEN=false
DEBUG_INTEGRATIONS=false
DEFAULT_CURRENCY=USD
RESOURCES_INDEXING=true
